<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h3>Digimon APP</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <a routerLink="/" routerLinkActive="active">Inicio</a>
        </div>
        <!-- Busqueda digimon -->
        <div class="col-3">
            <a routerLink="/digimon-search" routerLinkActive="active">Búsqueda</a>
        </div>
        <!-- Listado completo de digimons -->
        <div class="col-3">
            <a routerLink="/digimon" routerLinkActive="active">Listado completo de digimons</a>
        </div>
    </div>

   
</div>